src/main/mule/american-flight-resources.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="addflights" doc:id="4fd2101b-9d7c-4d0f-8fe7-8f02f1d91ef6" >
		<ee:transform doc:name="Transform Message" doc:id="71cf77b5-dda4-4be9-8f0c-d98d18939a42" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight added"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightById" doc:id="73ddba71-e8d1-41d5-96fa-34d731cfc044" >
		<logger level="INFO" doc:name="Logger" doc:id="3cdfbd67-9168-47de-9ed2-b455d8327fa7" message="#[attributes.uriParams.ID]"/>
		<db:select doc:name="Select" doc:id="900d27c5-2f9f-4acb-bb84-b9a912779489" config-ref="Database_Config">
			<db:sql >SELECT *
FROM american
WHERE ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="daf818ac-b60b-4946-9f43-7125bccac6eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="retrieveFlights" doc:id="6deac7b9-d482-440a-9bb1-2bebf665f5b5" >
		<ee:transform doc:name="Transform Message" doc:id="5ddf30c3-a219-4c9d-b6c4-e088568f073a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  ID: 1,
  code: "GQ574",
  price: 399,
  departureDate: "2020/12/20",
  origin: "ORD",
  destination: "SFO",
  emptySeats: 200,
  plane: {
    "type": "Boeing 747",
    totalSeats: 400
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
